<?xml version="1.0"?>

<model>
  <name>Berberis_thunbergii_Atropurpurea_10L</name>
  <version>1.0</version>
  <sdf version="1.5">Berberis_thunbergii_Atropurpurea_10L.sdf</sdf>

  <author>
    <name>bill</name>
     <email>my_email@anything.com</email>
  </author>
  
  <description>
    A plant
  </description>

</model>
